@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base: #ffe1bb;
}

body{
  background-color: var(--base);
}

.material:hover {
  filter: contrast(175%);
}
.material:hover > .exebit {
  transform: rotate(15deg);
}